@import './globalVariable.scss';

  .errorZero{
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    margin-top: -80px;
  }

  .errorOne{
    color: $accent-color-dark;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    
  }

  .errorThree{
    background-color: $accent-color-dark;
    text-align: center;
    font-size: 80px;
    margin-top: -60px;
  }