@import './globalVariable.scss';

.create {
    min-height: 90vh;
    display: flex;
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;
    & > section {
        margin-left: 3rem;
        &:first-of-type {
            flex: 2;
            & > h1 {
                text-align: right;
                font-weight: 800;
                color: $accent-color;
                font-size: 5rem;
                margin-right: 1rem;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    right: 0px;
                    bottom: calc((50vh + 25px) * -1);
                    padding: 1rem 0.5rem;
                    padding-bottom: 50vh;
                    background-color: $accent-color;
                }
            }
        }
        &:last-of-type{
            flex: 3;
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            position: relative;
            & > div {
                &:first-of-type{
                    flex: 4;
                    & > div {
                        & > label {
                            display: block;
                            font-size: 1.5rem;
                            font-weight: 800;
                            color: $secondary-color;
                        }
                        & > textarea {
                            width: 100%;
                            margin-bottom: 1vh;
                            resize: none;
                            border-radius: 0.5rem;
                        }
                        &:first-of-type, &:last-of-type{
                            & > textarea {
                                height: 8vh;
                            }
                        }

                        &:nth-of-type(2) {
                            & > textarea {
                                height: 20vh;
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    flex: 1;
                    & > p {
                        display: inline-block;
                        padding: 0.5rem 1rem;
                        background-color: $accent-color-light;
                        color: $accent-color;
                        margin-right: 1rem;
                        font-weight: 600;
                        border-radius: 1rem;
                        transition: all ease-out 0.25s;
                        &:hover {
                            box-shadow: 0px 2px 10px 1px rgba($secondary-color, 0.25);
                        }
                    }
                }

                &:last-of-type {
                    flex: 1;
                    & > button {
                        width: 20vw;
                        padding: 1.5vh 0vh;
                        font-size: 2rem;
                        border-radius: 1.25rem;
                        cursor: pointer;
                        background-color: $accent-color;
                        color: $primary-color;
                        font-weight: 800;
                        border: solid 1px $accent-color;
                        transition: all ease-out 0.25s;
                        &:hover {
                            color: $accent-color;
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
} 