@import './globalVariable.scss';

.newestPost {
  width: 100vw;
  height: auto;

  padding: 0 5rem;

  overflow: hidden;

  & > h1 {
    text-align: center;
    color: $accent-color-dark;
    font-size: 9rem;
    
    position: relative;
    top: 0px;
    margin: 0;
  }

  & > div {
    margin: 0;
    position: relative;
    top: -70px;
  }
}