@import './globalVariable.scss';

.trending {
  position: relative;
  width: 100vw;
  height: 500px;
  margin: 1rem 0rem;
  & > h1 {
    text-align: center;
    color: $accent-color-dark;
    font-size: 9rem;
    
    position: relative;
    top: 0px;
    margin: 0;
  }
  & > div {
    margin: 0;
    position: relative;
    top: -70px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    overflow-x: scroll !important;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  & > div::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (max-width: 1000px) {
  .trending {
    & > h1 {
      font-size: 4rem;
    }
  }
}