@import './globalVariable.scss';

.Welcome {
  display: grid;
  place-items: center;
  height: 90vh;
  min-height: 90vh;
  width: 100vw;
  position: relative;
  margin-bottom: 10vh;
  & > section {
    width: 90%;
    box-shadow: 0px 4px 30px 5px rgba($accent-color, 0.25);
    border-radius: 1rem;
    height: 90%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    & > div {
      flex: 1;
      min-width: 40rem;
      min-height: 90vh;
      &:first-of-type{
        display: grid;
        place-content: flex-start center;
        & > h1 {
          font-size: 7rem;
          text-align: left;
          color: $accent-color-dark;
          width: 80%;
          margin: 0px auto;
          margin-top: 5vh;
          & > span {
            color: $secondary-color;
          }
        }
        & > h2 {
          text-align: left;
          color: $secondary-color;
          width: 80%;
          margin: 0px auto;
        }
        & > div {
          display: flex;
          width: 90%;
          height: 30vh;
          margin: auto;
          & > button {
            padding: 5vh 0vh;
            margin: 1vh;
            margin-top: 10vh;
            flex: 1;
            font-size: 3rem;
            justify-content: flex-end;
            border-radius: 1.5rem;
            font-weight: 800;
            cursor: pointer;
            &:first-of-type{
              border: solid 1px $accent-color-dark;
              color: $primary-color;
              background-color: $accent-color-dark;
            }
            &:last-of-type{
              border: solid 1px $accent-color-dark;
              background-color: $primary-color;
              color: $accent-color-dark;
            }
          }
        }
      }
      &:last-of-type {
        background-color: $accent-color-light;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        & svg {
          flex: 1;
          align-self: flex-end;
        }
        & > div{
          flex: 1;
          & > h1 {
            color: $primary-color;
            text-align: center;
            font-size: 5rem;
          }
        }
      }
    }
  }
}